



/* banner css */
* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

body {
   font-family: 'Lora', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto Slab', serif;
}

/* // tabs css start  */
.nav-tabs .nav-link {
  border: none !important;
  font-size: 18px;
  font-weight: 500;
  
}
.nav-tabs .nav-link:hover {
      color: black;
    }

.nav-tabs .nav-link.active {
  border-bottom: 5px solid rgb(54, 83, 247) !important;
}

/*  tabs css :end */

/* nested tab css  */
ul.nav.nav-tabs {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
/*  nested tab css end  */

  .navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    background-color: white;
    display: inline-block;

}



.input-focus-border-color{
      border: none;
}


/* progress bar text color css  */
.selecInput_render_model_input__Saw-6 :first-child {
      color: #f1f1f7;
  }



  /* disable btn opacity css  */
  .btn:disabled, fieldset:disabled .btn {
      pointer-events: none;
      opacity: 0.20;
  }

  
  .accordion-item:first-of-type .accordion-button {
  
    font-size: 17px;
    font-weight: 700;
}

.table>:not(caption)>*>* {
  padding: 1.3rem 0.5rem;
  background-color: var(--bs-table-bg);
  border-bottom-width: 1px;
  text-align: center;
}