.form {
    label {
      text-transform: capitalize;
      font-weight: 600;
      font-family: sans-serif;
    }
    p{
          font-size: 14px ;
          color: gray;

    }
    input {
      width: 100%;
      height: 46px;
      border-radius: 7px;
      padding: 0px 15px;
      border: 1px solid rgb(187, 178, 178);
      &:focus {
        outline: none !important;
      }
    }


   
   
}

.render_model_input{
     width: 100px;
     height: auto;
     background-color: grey;
     margin-top: 20px;
     text-align: center;
     span{
      color: rgb(248, 239, 239);
     }
}