.form {
    label {
      text-transform: capitalize;
      font-weight: 600;
      font-family: sans-serif;
    }
    p{
          font-size: 14px ;
          color: gray;

    }
    input {
      width: 100%;
      height: 46px;
      border-radius: 7px;
      padding: 0px 15px;
      border: 1px solid rgb(187, 178, 178);
      &:focus {
        outline: none !important;
      }
    }

    .select_input{
      height: 50px;
        .form-control{
         :focus{
          outline: 0px none #fff !important
         }
        }
    }
}