.main_container {
    margin-top: 50px;
    padding-top: 50px;
}

.main_container .top_img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    border: 1px solid rgb(206, 200, 200);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    padding-top: 40px;
}
.main_container .top_img img  {
      width: 100%;
      cursor: pointer;
 
}

.img_top_bar {
    position: absolute;
    width: 100%;
    top: 0;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
}

.img_top_bar .blockchain_rinked svg {
    font-size: 20px;
    margin-left: 3px;
    cursor: pointer;
}

.img_top_bar .blockchain_rinked Button {
    background-color: transparent;
    border: none;

}
.right_top_bar {
    display: flex;
    justify-content: space-between;
}


.top_grpup_icons {
    margin-top: -25px;
    cursor: pointer;
    
}
.top_grpup_icons button{
      font-size: 12px;
      padding:12px !important;
}
.top_grpup_icons button:hover {
    background-color: rgb(246, 248, 248);
    outline: none;
    
}

.top_grpup_icons Button{
      outline: none;
}



.eth_token span {
      cursor: pointer;
}

.img_top_bar .favorite svg {
    font-size: 20px;
    margin-right: 3px;
    cursor: pointer;
}





.right_top_bar .top_icons button svg {
    font-size: 20px;
    cursor: pointer;
}

.make_offer_div {
    width: 100%;
    padding: 15px;
    background-color: rgb(251, 253, 255);
    margin-top: 2rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 1rem;
    border: 1px solid rgb(229, 232, 235);
    cursor: pointer;
}

.btn_div button {
    font-size: 19px;
}
.make_offer_div span{
      font-size: 20px;
}


.make_offer_div  svg{
      font-size: 18px;
}
.make_offer_div .btn_div {
    width: 100%;
    margin-top: 10px;
}

.btn_div button {
   
    display: inline-flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 12px;
    -webkit-box-pack: center;
    justify-content: center;
    width: 50%;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0.01em;
    padding: 17px 24px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(229, 232, 235);
    color: rgb(32, 129, 226);
}



.make_offer_div .btn_div button:hover {
   
    box-shadow: 0.5px 1.5px 0px 1.4px rgb(169, 169, 240);
    outline: none;




}