

.modal_title{
      font-size: 22px;
      margin: auto !important;
      text-transform: capitalize;
      font-weight: bold;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.modal_body{
         p{
            font-weight: 500;
            font-size: 14px;
            color: rgb(112, 122, 131);
         }
}


.form{
       display: flex;
       
       flex-wrap: wrap;

       input{
        background-color: transparent;
        border: 0.5px solid rgb(224, 210, 210);
        flex: 1 0 0%;
        height: 48px;
        border-radius: 10px;
        outline: none;
        padding: 0px 12px;
        min-width: 0px;
        margin-top: 10px;
        

             &:focus{
                    outline: none;
                    box-shadow: 1px 2px 1px 1.5px rgb(206, 194, 194);
             }

       }

       .removebtn{
        background-color:rgb(255, 250, 250);
        border: none;
        color: rgb(116, 106, 106);
        // padding: 15px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin-top: 10px;
        width: 30px;
        height: 40px;
        font-size: 30px;
       }

       .add_btn{
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 15px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin-top: 30px;
        border-radius: 10px;
        text-transform: capitalize;
        

        
       }
}