.SelectList {
  width: 100%;
  border-bottom: 1px solid rgb(206, 200, 200);

  .icon {
    font-size: 25px;
    color: rgb(53, 49, 49);
  }
  .list_content {
    margin-left: -20px;
    margin-top: 10px;
  }

  .select_list_text {
    h6 {
      font-weight: 900;
    }
    p {
      color: grey;
    }
  }
  .select_list_btn {
    button {
      height: 50px;
      &:focus {
            outline: none;
            box-shadow: none;
          }
      svg {
        font-size: 30px;
      }
    }
  }
}
